body {
    body {
    padding-top: 70px;
}
    font-family: Helvetica, sans-serif;
    background: #fff;
    color: #111;
    margin: 0;
    padding: 0;
}

/* NAVBAR (barra de navegación) */
.navbar {
    background: #000 !important;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}



/* HERO */
.hero {
    height: 90vh;

    background:
        linear-gradient(rgba(0, 0, 0, .7),
            rgba(0, 0, 0, .8)),
        url('logo2.jpg');

    background-size: cover;
    background-position: center;

    color: white;
}

.contenido-hero {
    max-width: 700px;
    padding: 20px;
}

.titulo-principal {
    font-size: 70px;
    font-weight: bold;
    letter-spacing: 5px;
}

.subtitulo {
    font-size: 18px;
    opacity: .85;
}

.texto-cta {
    font-size: 18px;
    opacity: .85;
    max-width: 800px;
    margin: auto;
}

#extra p {
    font-size: 14px;
    opacity: .8;
}

/* PRODUCTOS */
.img-producto {
    width: 100%;
    height: 250px;
    object-fit: contain; 
    background: #fff;
    padding: 10px;
}

.minimal-card {
    border: none;
    padding: 15px;
    text-align: center;
    transition: .3s;
    height: 100%; 
}

.minimal-card:hover {
    transform: scale(1.05);
}

/* separación entre productos */
.row > div {
    margin-bottom: 20px;
}

/* BOTONES FILTRO */
.btn-outline-dark {
    margin: 5px;
}

/* BOTONES CONTACTO */
.whatsapp-btn,
.facebook-btn,
.instagram-btn {

    display: inline-flex;
    align-items: center;
    gap: 10px;

    padding: 12px 22px;

    border-radius: 30px;

    color: white;
    text-decoration: none;
    font-weight: bold;
}

.whatsapp-btn {
    background: #25D366;
}

.facebook-btn {
    background: #1877F2;
}

.instagram-btn {
    background: linear-gradient(45deg,
            #f09433,
            #e6683c,
            #dc2743,
            #cc2366,
            #bc1888);
}

/* MAPA */
iframe {
    box-shadow: 0 4px 10px rgba(0, 0, 0, .15);
}

/* CARRITO */
.carrito-item {
    background: #f5f5f5;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .08);
}

.carrito-item button {
    margin: 5px;
    padding: 5px 10px;
    border: none;
    background: #000;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.carrito-item button:hover {
    opacity: .8;
}

/* TOTAL */
#total {
    font-weight: bold;
    font-size: 24px;
}

/* FAQ */
.faq-item {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.faq-item strong {
    font-size: 18px;
}

.faq-item p {
    margin: 5px 0;
}
